---
import { Icon } from 'astro-icon';
import { t } from 'i18next';

import Container from '@components/layout/Container.astro';
---

<div id='about'>
	<Container class='py-12 md:py-16 border-b border-slate-200 text-center'>
		<h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-primary'>
			{t('$.about.title')}
		</h2>

		<h3 class='py-8 text-3xl font-bold text-gray-600'>
			{t('$.about.subtitle')}
		</h3>

		<div>
			{t('$.about.description')}
		</div>
	</Container>
</div>
