---
import { Icon } from 'astro-icon';
import { t } from 'i18next';

/* import Contactform from '@components/content/ContactForm.astro'; */
import Container from '@components/layout/Container.astro';
---

<div id='contact'>
	<Container class='py-12 md:py-16 border-b border-slate-200'>
		<h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-center text-primary'>
			{t('$.contact.title')}
		</h2>

		<div class='grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12'>
			<div>
				<h2 class='font-medium text-2xl text-gray-700'>{t('$.contact.subtitle')}</h2>
				<p class='text-lg leading-relaxed text-slate-500 mt-3'>
					{t('$.contact.appointment')}
				</p>
				<div class='mt-5'>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:map-marker' />
						<span>
							Náhorní 2317/17, 616 00 Brno - Žabovřesky
							<br /> IČ: 19737491, DIČ: CZ19737491
						</span>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:envelope' /><a href='mailto:vyborne@vinozezajeci.cz'
							>vyborne@vinozezajeci.cz</a
						>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:phone' /><a href='tel:+420770199999'
							>+420 770 199 999</a
						>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='mdi:phone-classic' /><a href='tel:+420770199999'
							>+420 770 199 999</a
						>
					</div>
				</div>
			</div>
			<div>
				<iframe
					src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.6449777994217!2d16.583281077158663!3d49.20729407608875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712943c32aba1df%3A0x9f1e19bb540bd6b!2zTsOhaG9ybsOtIDIzMTcvMTcsIDYxNiAwMCBCcm5vLcW9YWJvdsWZZXNreQ!5e0!3m2!1scs!2scz!4v1702826879018!5m2!1scs!2scz'
					width='100%'
					height='400'
					allowfullscreen=''
					loading='lazy'
					title='Google maps'
					referrerpolicy='no-referrer-when-downgrade'></iframe>
			</div>
		</div>
	</Container>
</div>
