---
import { Icon } from 'astro-icon';
import { t } from 'i18next';

/* import Contactform from '@components/content/ContactForm.astro'; */
import Container from '@components/layout/Container.astro';
---

<div id='contact'>
	<Container class='py-12 md:py-16 border-b border-slate-200'>
		<h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-center text-primary'>
			{t('$.contact.title')}
		</h2>

		<div class='grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12'>
			<div>
				<h2 class='font-medium text-2xl text-gray-700'>{t('$.contact.subtitle')}</h2>
				<p class='text-lg leading-relaxed text-slate-500 mt-3'>
					{t('$.contact.appointment')}
				</p>
				<div class='mt-5'>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:map-marker' />
						<span>
							Školní 156, 69105 Zaječí
							<br /> IČ 19737491, DIČ CZ7951084053
						</span>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:envelope' /><a href='mailto:vyborne@vinozezajeci.cz'
							>vyborne@vinozezajeci.cz</a
						>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='uil:phone' /><a href='tel:+420770199999'
							>+420 770 199 999</a
						>
					</div>
					<div class='flex items-center mt-2 space-x-2 text-gray-600'>
						<Icon class='text-secondary w-8' name='mdi:phone-classic' /><a href='tel:+420778711111'
							>+420 778 711 111</a
						>
					</div>
				</div>
			</div>
			<div>
				<iframe style='border:none' src='https://en.frame.mapy.cz/s/pemudahace' width='100%' height='400'
				></iframe>
			</div>
		</div>
	</Container>
</div>
