---
import { t } from 'i18next';
---

<div
	class='bg-gray-800 p-8 md:px-16 md:py-16 mt-16 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center'
>
	<p class='text-slate-200 mt-4 text-lg md:text-xl'>
		{t('$.info.history')}
	</p>
	<p class='text-slate-200 mt-4 text-lg md:text-xl'>
		{t('$.info.history2')}
	</p>
	<!-- <p class='text-slate-200 mt-4 text-lg md:text-xl'>{t('$.info.fve_key')}</p>
	<p class='text-slate-200 mt-4 text-lg md:text-xl'>
		{t('$.info.off_grid')}
	</p> -->
</div>
