---
import { t } from 'i18next';

import Container from '@components/layout/Container.astro';
import ProductCard from './ProductCard.astro';
import Info from './Info.astro';

const pricing = [
	{
		name: 'Frankovka',
		price: 170,
		kind: 'Červené suché',
		type: 'Moravské zemské víno',
	},
	{
		name: 'Rulandské modré',
		price: 250,
		kind: 'Červené suché',
		type: 'Moravské zemské víno',
	},
	{
		name: 'Cabernet Moravia rosé',
		price: 150,
		kind: 'Růžové suché',
		type: 'Moravské zemské víno',
	},
	{
		name: 'Müller-Thurgau',
		price: 220,
		kind: 'Bílé supolosuchéché',
		type: 'Moravské zemské víno',
	},
	{
		name: 'Rulandské bílé',
		price: 200,
		kind: 'Bílé suché',
		type: 'Moravské zemské víno',
	},
];
---

<div id='wine'>
	<Container class='py-12 md:py-16 border-b border-slate-200'>
		<h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-center text-primary'>
			{t('$.product.title')}
		</h2>

		<div class='grid sm:grid-cols-2 lg:grid-cols-3 gap-2 mx-auto max-w-screen-lg mt-12'>
			{pricing.map((item) => <ProductCard item={item} />)}
		</div>

		<!-- <Info /> -->
	</Container>
</div>
