<footer class='my-8'>
	<p class='text-center text-sm text-slate-500'>
		Copyright © {new Date().getFullYear()} VINOZEZAJECI. All rights reserved.
	</p>
	<p class='text-center text-xs text-slate-500 mt-1'>
		Made by <a href='https://prasentace.cz' target='_blank' rel='noopener' class='hover:underline'>Prasentace</a>
	</p>
</footer>
