---
import { getImage } from 'astro:assets';

interface Props {
	image: ImageMetadata;
}

const { image } = Astro.props;

const optimizedBackground = await getImage({ src: image, format: 'webp' });
---

<div class='parallax absolute top-0 left-0 -z-10' style={`background-image: url(${optimizedBackground.src});`}>
	<div class='overlay'></div>
</div>

<script>
	import simpleParallax from 'simple-parallax-js';

	const image = document.getElementsByClassName('parallax');
	new simpleParallax(image);
</script>

<style>
	.parallax {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(46, 48, 70, 0.6);
	}
</style>
